body{
	margin: 0;
	padding: 0;
}

.hh_hidden {
	animation: fadeOut ease-out 0.2s;
	-webkit-animation: fadeOut ease-out 0.2s;
	-moz-animation: fadeOut ease-out 0.2s;
	-o-animation: fadeOut ease-out 0.2s;
	-ms-animation: fadeOut ease-out 0.2s;
}

@keyframes fadeOut{
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut{
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

header {
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #000;
	top: 0px;
	color: #FFF;
}

header ul {
	margin: 0;
	padding: 12px 0 0 12px;
	list-style-type: none;
}

header ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

header ul li.active a {
	color: red;
}

header ul li a {
	color: #FFF;
}

footer {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #555;
	color: #FFF;
}