@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "MotifMedium";
	src: url(../fonts/MEDIUM/motif-medium-webfont.woff);
}

@font-face {
	font-family: "MotifBold";
	src: url(../fonts/BOLD/motif-bold-webfont.woff);
}

@font-face {
	font-family: "MotifLight";
	src: url(../fonts/LIGHT/motif-light-webfont.woff);
}

html, body {
	
	overflow:hidden !important;
	background-color:#000;
}
	

body {
	background-color:#000;
	line-height: normal !important;
}

#arte-header {
	z-index:5000000 !important;
	top:0px;
	position:absolute !important;
}

#how {
	position:absolute;
	width:100%;
	height:100%;
	background-color: #000;
	color:#fff;
	z-index:1000000;
	top:40px;
	display:none;
}

#how_header {
	color:#fff;
	font-family: 'MotifMedium', sans-serif;
	font-size:11px;
	text-transform:uppercase;
	width:100%;
	text-align:center;
	line-height: 26px;
	letter-spacing: 3px;
	height:140px;
	background-image:url(../images/bg_header.png);
	position:absolute;
	top:0px;
	display:none;
}

#how_content_holder {
	position:absolute;
	top:0px;
	padding-top:140px;
	overflow-y:scroll;
	overflow-x:hidden;
	height:69%;
}

#how_content {
	width:80%;
	margin-left:10%;
	font-family: 'MotifLight', sans-serif;
	font-size:16px;
	line-height: 22px;
}

#how_content a {
	color:#fff;
}

.ui-mobile {
	height:100% !important;
}

.ui-mobile body {
	height:100% !important;
}


#how_close {
	position:absolute;

	margin-left:15px;
	
	font-family: 'MotifLight', sans-serif;
	display:none;
}

#credits {
	position:absolute;
	width:100%;
	height:100%;
	background-color: #000;
	color:#fff;
	z-index:1000000;
	top:40px;
	display:block;
	z-index:1000000;
	
	display:none;
}

#credits_header {
	color:#fff;
	font-family: 'MotifMedium', sans-serif;
	font-size:11px;
	text-transform:uppercase;
	width:100%;
	text-align:center;
	line-height: 26px;
	letter-spacing: 3px;
	height:140px;
	background-image:url(../images/bg_header.png);
	position:absolute;
	top:0px;
	display:none;
	pointer-events: none;
}

#credits_content_holder {
	width:100%;
	position:absolute;
	
	top:0px;
	padding-top:140px;
	overflow-y:scroll;
	overflow-x:hidden;
	height:69%;
}

#credits_content {
	display:block;
	width:80%;
	margin-left:10%;
	font-family: 'MotifLight', sans-serif;
	font-size:16px;
	line-height: 22px;

	overflow-y:visible;
}



#credits_close {
	position:absolute;

	margin-left:15px;
	
	font-family: 'MotifLight', sans-serif;
	display:none;
	
}

#credits_content a {
	color:#fff;
}

.ui-page {
	overflow:hidden !important;
}

#header {
	z-index:400000 !important;
}

.swipe {
	width:100%;
	height:100%;
	display:block;
	background-color:#f3846e;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'MotifLight', sans-serif;
	font-size:30px;
	color:#ffffff;
	text-align:center;
	
}

#swipe_2 {
	opacity:0;
	
	}
#contour {
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:40px;
	border-width:10px;
	border-style: solid;
	 -moz-border-image: -moz-linear-gradient(top left, #101ef9 0%, #f9896a 100%);
	 -webkit-border-image: -webkit-linear-gradient(top left, #101ef9 0%, #f9896a 100%);
	 border-image: linear-gradient(to bottom right, #101ef9 0%, #f9896a 100%);
	 border-image-slice: 1;
	pointer-events:none;
	z-index:50000;
}

#fail {
	position:absolute;
	left:50%;
	top:100%;
	margin-left:-41px;
	margin-top:-120px;
	pointer-events:none;
	z-index:25000;
	opacity:0;
}

.logo {
	width:100%;
	height:100%;
	display:block;
	background-color:#000000;
	position:absolute;
	left:0px;
	top:0px;
	font-size:30px;
	color:#ffffff;
	text-align:center;
}
.logoimage {
	width:200px;
	height:62px;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-45px;
	opacity:0;
}

.blue {
	background-color:#222df8;
	
	background-image:url("../images/gradient_bg.png");
	background-size: cover;
}

.black {
	background-color:#000000;
}

.tiny {
	
	position:absolute;
	left:100%;
	margin-left:-24px;
	top:0px;
	margin-top:57px;
	z-index:20000;
	opacity:0;
}

.okbutton, #okslide {
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-27px;
	margin-top:-108px;
	opacity:0;
}


.nextbutton {
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-27px;
	margin-top:-108px;
	opacity:0;
}

.statement {
	position:absolute;
	text-align:center;
	margin: 0 auto; 
	opacity:0;
	top:45px;
	width:100%;
}

.statement_indications {
	position:absolute;
	text-align:center;
	margin: 0 auto; 
	top:0px;
	width:100%;
	font-family: 'MotifLight', sans-serif;
	font-size:14px;
	opacity:0;
}

.number {
	font-family: 'MotifLight', sans-serif;
	font-size:15px;
	position:absolute;
	display:block;
	margin: 0 auto; 
	text-align:center;
	width:100%;
	margin-top:60px;
	opacity:0;
}

.separator {
	position:absolute;
	display:block;
	top:50px;
	left:50%;
	margin: 0 auto; 
	text-align:center;
	width:1px;
	background-color:#FFFFFF;
	height:0px;
	opacity:0;
	margin-top:40px;
}

u {
	text-decoration:none;
	font-family: 'MotifBold', sans-serif;
}

.separator2 {
	display:block;
	width:100%;
	margin: 0 auto; 
	text-align:center;
	width:50px;
	height:1px;
	background-color:#FFFFFF;
}

.text {
	font-size:32px;
	position:absolute;
	display:block;
	margin: 0 auto; 
	text-align:center;
	width:70%;
	opacity:0;
	pointer-events: none;
}
.indications {
	position:absolute;
	display:block;
	margin: 0 auto; 
	text-align:center;
	width:65%;
}

.introtext {
	font-family: 'MotifMedium', sans-serif;
	font-size:20px;
	left:0px;
	color:#FFF;
	position:absolute;
	top:70px;
	margin: 0; 
	margin-top:-20px;
	text-align:center;
	width:100%;
	opacity:0;
}

.type {
	font-family: 'MotifLight', sans-serif;
	font-size:30px;
	color:#F98A6B;
	position:absolute;
	top:50%;
	margin-top:5px;
	text-align:center;
	width:80%;
	opacity:0;
	left:0px;
	margin-left:0px;
}


.conclusion_text {
	font-family: 'MotifLight', sans-serif;
	font-size:27px;
	color:#F98A6B;

	text-align:center;
	width:100%;
}

.conclusion_text2 {
	font-family: 'MotifLight', sans-serif;
	font-size:18px;
	color:#ffffff;

	text-align:center;
	width:100%;
}

a.conclusion_links, a.conclusion_links:visited {
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	font-size:12px;
}

#slider {
	position:absolute;
	left:50%; 
	margin-left:-138px;
	top:300px;
	width:277px;
	height:47px;
	background-image: url(../images/slider_bg.png);
	background-size: cover;
	opacity:0;
}

#drop {
	position:absolute;
	left:0;
	top:0;
	width:55px;
	height:55px;
	opacity:0;
	pointer-events:none;
	z-index:56700;
}

.ui-slider-handle,.ui-slider-handle:focus  {
	width:55px !important;
	height:55px !important;
	background-image:url(../images/drop.png);
	background-size: cover;
	background-color:transparent!important;
	border-style:hidden !important;
	border-color:none !important;
	-webkit-border-radius:0px !important;
	border-radius:0px !important;
	
	color:transparent !important;
	box-shadow:0 0 0px transparent !important;
	margin-left:-27px !important;
	margin-top:-5px !important;
}

.ui-slider-track {
	position:absolute;
	left:50%; 
	margin-left:-125px;
	top:300px;
	
	background-image: url(../images/slider_bg.png);
	background-size: cover;
	width:250px;
	height:47px;
	border: none;
	border-style:hidden !important;
	background-color:black !important;
	border-color:black !important;
	-webkit-border-radius:0px !important;
	border-radius:0px !important;
	opacity:0;
	z-index:50000;
	
}

#okslide {
	z-index:51000;
}

#slider_text {
	position:absolute;
	width:100%;
	opacity:0;
	z-index:50000;
}

#slider_not {
	position:absolute;
	left:10px;
	text-align:left;
	font-family: 'MotifLight', sans-serif;
	font-size:15px;
	color:#ffffff;
	
}

#slider_guess, #slider_result {
	position:absolute;
	text-align:left;
	font-family: 'MotifLight', sans-serif;
	font-size:12px;
	color:#ffffff;
	opacity:0;
	z-index:60000;
	width:80px;
	transform: rotate(90deg);
	transform-origin: left top 0;
	
}

#swipe_left {
	position:absolute;
	left:25px;
	top:50%;
	margin-top:-130px;
	text-align:center;
	font-family: 'MotifMedium', sans-serif;
	font-size:11px;
	color:#ffffff;
	opacity:0;
	width:300px;
	transform: rotate(90deg);
	transform-origin: left top 0;
	z-index:80000;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#swipe_right {
	position:absolute;
	left:100%;
	top:50%;
	margin-top:170px;
	margin-left:-26px;
	text-align:center;
	font-family: 'MotifMedium', sans-serif;
	font-size:11px;
	color:#ffffff;
	opacity:0;
	width:300px;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	z-index:81000;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#slider_yes {
	position:absolute;
	text-align:right;
	font-family: 'MotifLight', sans-serif;
	font-size:15px;
	color:#ffffff;
	width:100%;
	margin-left:-10px
}

.ui-page {
	text-shadow:0 0px 0 transparent;
}

#swipe_0 {
	
	
	background-image:url("../images/gradient_bg.png");
	background-size: cover;
}

#swipe_3 {
	display:none;
	opacity:0;
}

#swipe_4 {
	display:none;
	opacity:0;
}


#icon_racism {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-134px;
				opacity:0;
	mix-blend-mode: lighten;
			}
			
			#icon_racism_circle_white, #icon_racism_circle_black, #icon_racism_circle_empty {
				position:absolute;
			}
			
			#icon_sexism {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_sexism_circle_empty_1, icon_sexism_circle_empty_2 {
				position:absolute;
			}
			
			#icon_sexism_circle_empty_1 .img, icon_sexism_circle_empty_2 .img {
				position:absolute;
			}
			
			#icon_sexism_circle_empty_1 .female {
				position:absolute;
				left:74px;
				top:127px;
			}
			#icon_sexism_circle_empty_2 .male {
				position:absolute;
				left:110px;
				top:44px;
				z-index:-10;
			}
			
			#icon_homophobia {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_homophobia_circle_empty_1, #icon_homophobia_circle_empty_2 {
				position:absolute;
			}
			
			
			
			
			#icon_homophobia_circle_empty_1 .img, icon_homophobia_circle_empty_2 .img {
				position:absolute;
			}
			
			#icon_homophobia_circle_empty_1 .male1 {
				position:absolute;
				left:90px;
				top:50px;
			}
			#icon_homophobia_circle_empty_2 .male2 {
				position:absolute;
				left:110px;
				top:44px;
				z-index:-10;
			}
			
			#icon_ageism {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_ageism_circle_white, #icon_ageism_circle_black, #icon_ageism_circle_empty {
				position:absolute;
			}
			
			#icon_ageism_circle {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-13px;
				margin-top:-13px;
				opacity:0;
			}
			
			#icon_ageism_arrow {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:0px;
				margin-top:-14px;
				opacity:0;
			}
			
			#icon_ageism_hour {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:0px;
				margin-top:-14px;
				opacity:0;
			}
			
			#icon_weight {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_weight_scale {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-52px;
				margin-top:94px;
				opacity:0;
			}
			
			#icon_weight_circle_black {
				position:absolute;
			}
			
			#icon_weight_circle {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-13px;
				margin-top:-13px;
				opacity:0;
			}

			
			#icon_weight_hour {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:0px;
				margin-top:-14px;
				opacity:0;
			}
			
			#icon_religion {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_religion_circle_black {
				position:absolute;
			}
			
			#icon_religion_cross {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-30px;
				margin-top:-58px;
				opacity:0;
			}
			
			#icon_religion_halo {
				position:absolute;
				margin-left:0px;
				margin-top:-80px;
				opacity:0;
			}
			
			#icon_handicap {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}
			
			#icon_handicap_circle {
				position:absolute;
			}
			
			#icon_handicap_wheel {
				position:absolute;
				opacity:0;
			}
			
			#icon_handicap_bar1 {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-40px;
				margin-top:-75px;
			}
			
			#icon_handicap_bar2 {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:80px;
				margin-top:-14px;
			}

#icon_weapons {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-94px;
				margin-top:-154px;
				opacity:0;
				
	mix-blend-mode: lighten;
			}

#icon_weapons_circle {
				position:absolute;
			}


#icon_weapons_trigger {
				position:absolute;
	
	margin-left:70px;
	margin-top:-40px;
}

#portrait_hide {
	width:100%;
	height:100%;
	background-color:#000;
	z-index:1000000;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
}

#rotate {
	width:250px;
	height:201px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-125px;
	margin-top:-100px;
}
			